Django
GDAL==3.3.2
Pillow
appnope
argparse
cffi
cryptography
decorator
django-extensions
django-jsonfield
enum34
gnureadline
idna
ipaddress
ipython
ipython-genutils
ndg-httpsclient
path.py
pexpect
pickleshare
pyOpenSSL
pyasn1
pycparser
requests
simplegeneric
six
traitlets
numpy